/*font*/
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300;600&display=swap');

/*Colours*/
:root {
    --white: white;
    --yellow: rgb(241, 235, 65);
    --black: black;
    --card: rgba(255, 255, 255, 0.05);
}

/*Making navigation smoother, from peer evaluation*/
html{
    scroll-behavior:smooth;
}

/*Font size, color and style*/
body {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 300;
    background-color: var(--black);
    color: var(--white);
    font-weight: 600;
}

/*Top manu*/
a {
    color: var(--white);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.toppage {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 0px 28px;
    font-weight: 700;
}

.toppage nav {
    width: 100%;
}

ul {
    list-style: none;
    text-decoration: none;
}

.toppage ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    padding: 0;
    gap: 40px;
    font-size: clamp(15px, 2vw, 200px);
}

.toppage ul li:last-child {
    margin-left: auto;
}

/*top page for mobile*/
@media screen and (max-width: 768px) {
    .toppage ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 20px;
        padding: 0;
        position: relative;
    }

    .toppage ul li:last-child {
        position: absolute;
        top: 0;
        right: 0;
    }
}

/*Hero section*/
header {
    background-image: url("https://cdn.dribbble.com/userupload/7421611/file/original-76241f0779738c53da71da9dcd863e16.png?resize=1200x900&vertical=center");
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    aspect-ratio: 12 / 6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 0px;
    margin-bottom: 50px;
}

/*Hero section for mobile*/
@media screen and (max-width: 768px) {
    header {
        background-size: cover;
        background-position: center;
        aspect-ratio: 9 / 8;
        margin-top: 0;
    }
}

.herobottom {
    font-weight: 700;
}

/*My name in hero section, made it a bit smaller from peer evaluation*/
.name {
    position: absolute;
    bottom: 50px;
    left: 30px;
    text-align: left;
    margin: 0;
    line-height: 1.2;
    font-size: 6vw;
    letter-spacing: 0.2em;
}

/*IT student*/
.role {
    position: absolute;
    bottom: 50px;
    right: 30px;
    margin: 0;
    font-size: 4vw;
}

/*About me*/
.maintop {
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--yellow);
    font-size: 2.7vw;
    letter-spacing: 0.1em;
    gap: 20px;
    width: 100%;
}

.maintop h1 {
    margin: 0px;
}

/*The yellow line*/
.yellow-line {
    flex-grow: 1;
    height: 3px;
    background-color: var(--yellow);
    border: none;
}

/*Grid for the 5 contents*/
.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-columns: 100px;
    width: 70%;
    max-width: 1000px;
    margin: 40px auto;
}

.cards-container>div {
    background-color: var(--card);
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: 200ms
}

/*5 contents for monile, 1 column*/
@media screen and (max-width: 768px) {
    .cards-container {
        grid-template-columns: 1fr;
        width: 95%;
    }
}

/*Animation for mobile*/
@media screen and (max-width: 768px) {
    .cards-container>div {
        opacity: 0;
        transform: translateY(40px) scale(0.8);
        animation: fadein linear forwards;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
        margin: 10px 0
    }
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(40px) scale(0.8);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

/*Animation only when user can hover contents, made it symple from peer evaluation*/
@media (hover: hover) {
    .cards-container>div:hover {
        transform: scale(1.15, 1.15);
    }

    .cards-container:hover>div:not(:hover) {
        transform: scale(0.9, 0.9);
        
    }
}

/*Changing the order*/
#Mission {
    grid-column: 2;
    grid-row: 1;
}

#Vision {
    grid-column: 3;
    grid-row: 1;
}

#Skills {
    grid-column: 1;
    grid-row: 1/3;
}

#Contact {
    grid-column: 2;
    grid-row: 2;
}

#Resume {
    grid-column: 3;
    grid-row: 2;
}

/*Another order for mobile*/
@media screen and (max-width: 768px) {
    #Mission {
        grid-column: 1;
        grid-row: 2;
    }

    #Vision {
        grid-column: 1;
        grid-row: 3;
    }

    #Skills {
        grid-column: 1;
        grid-row: 1;
    }

    #Contact {
        grid-column: 1;
        grid-row: 4;
    }

    #Resume {
        grid-column: 1;
        grid-row: 5;
    }
}

/*Inside skill section*/
.skillsgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    grid-gap: 15px;
}

/*Back to top button and copy right mark*/
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    gap: 10px
}

footer a {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: clamp(15px, 2vw, 200px);
    font-weight: 700;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

footer p {
    display: flex;
    justify-content: end;
    font-size: clamp(10px, 1vw, 200px);
}